{% extends 'base.html' %}

{% block  title%}
修改个人信息页面
{% endblock %}

{% block sidebar%}
    <aside id="sidebar" class="sidebar">
<ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'home' %}">
                <i class="bi bi-grid"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="nav-heading">个人信息</li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'changeSelfInfo' %}">
                <i class="bi bi-menu-button-wide"></i><span>个人信息</span></i>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'changePassword' %}">
                <i class="bi bi-journal-text"></i><span>修改密码</span>
            </a>
        </li>
        <li class="nav-heading">数据表格</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'tableData' %}">
                <i class="bi bi-layout-text-window-reverse"></i><span>数据操作</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'tableData2' %}">
                <i class="bi bi-layout-text-window-reverse"></i><span>用户数据</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'comment' %}">
                <i class="bi bi-layout-text-window-reverse"></i><span>评论数据</span>
            </a>
        </li>
        <li class="nav-heading">数据可视化</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'cityChar' %}">
                <i class="bi bi-bar-chart"></i><span>BMI和性别分析</span></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'rateChar' %}">
                <i class="bi bi-gem"></i><span>压力水平对比</span>
            </a>
        </li><!-- End Icons Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'priceChar' %}">
                <i class="bi bi-person"></i>
                <span>步数和睡眠时长分析</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'commentsChar' %}">
                <i class="bi bi-question-circle"></i>
                <span>评论分析</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'heartChar' %}">
                <i class="bi bi-question-circle"></i>
                <span>心率分布</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'bloodChar' %}">
                <i class="bi bi-question-circle"></i>
                <span>血压分析</span>
            </a>
        </li>
        <li class="nav-heading">后台管理</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:8000/admin/">
                <i class="bi bi-envelope"></i>
                <span>后台数据管理</span>
            </a>
        </li>
    </ul>

  </aside>

{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>个人信息</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">个人信息</a></li>
          <li class="breadcrumb-item active">修改个人信息页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


            <section class="section dashboard">
              <div class="row">
                <div class="col-lg-12">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><span>修改个人信息</span></h5>

                      <div class="activity">

                          <form action="{% url 'changeSelfInfo' %}" method="POST" enctype="multipart/form-data">
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">用户名</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="username" disabled value="{{ userInfo.username }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">电话</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="phone" value="{{ userInfo.phone }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">性别</label>
                                  <div class="col-sm-10">
                                    <select class="form-select" name="sex" aria-label="Default select example">
                                          <option {% if userInfo.sex == '男' %}
                                          selected
                                          {% endif %}  value="男">男</option>
                                          <option {% if userInfo.sex == '女' %}
                                          selected
                                          {% endif %} value="女">女</option>
                                        </select>
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">个人简介</label>
                                  <div class="col-sm-10">
                                    <textarea name="textarea" class="form-control" placeholder="{{ userInfo.textarea }}" value="{{ userInfo.textarea }}" style="height: 100px;"></textarea>
                                  </div>
                                </div>
                            <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">头像上传</label>
                                  <div class="col-sm-10">
                                      <img style="width:100px;border:1px solid #ddd;padding:5px" src="/media/{{ userInfo.avatar }}" alt="">
                                      <br>
                                                                      <input type="file" name="avatar">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">年龄</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="age" value="{{ userInfo.age }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="career" class="col-sm-2 col-form-label">职业</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="career" value="{{ userInfo.career }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">睡眠时长</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="sleep_duration" value="{{ userInfo.sleep_duration }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">睡眠质量</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="sleep_quality" value="{{ userInfo.sleep_quality }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">身体活动水平</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="physical_activity_level" value="{{ userInfo.physical_activity_level }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">压力水平</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="pressure" value="{{ userInfo.pressure }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">BMI</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="bmi" value="{{ userInfo.bmi }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">血压</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="blood_pressure" value="{{ userInfo.blood_pressure }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">心率</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="heart_rate" value="{{ userInfo.heart_rate }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">每日步数</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="daily_steps" value="{{ userInfo.daily_steps }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">睡眠障碍</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="sleep_disorders" value="{{ userInfo.sleep_disorders }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">公开状态</label>
                                  <div class="col-sm-10">
                                    <select class="form-select" name="sex" aria-label="Default select example">
                                          <option {% if userInfo.state == '公开' %}
                                          selected
                                          {% endif %}  value="公开">公开</option>
                                          <option {% if userInfo.state == '不公开' %}
                                          selected
                                          {% endif %} value="不公开">不公开</option>
                                        </select>
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                  </div>
                              </div>
                          </form>

                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </section>

{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}